<section class="dashboard">
	<h1>Dashboard</h1>
	<div class="cards">
		<a class="card" href="/users">
			<span class="num">{{ counts.users }}</span>
			<span class="lbl">Users</span>
		</a>
		<a class="card" href="/groups">
			<span class="num">{{ counts.groups }}</span>
			<span class="lbl">Groups</span>
		</a>
		<a class="card" href="/messages/private">
			<span class="num">{{ counts.private_messages }}</span>
			<span class="lbl">Private messages</span>
		</a>
		<a class="card" href="/messages/group">
			<span class="num">{{ counts.group_messages }}</span>
			<span class="lbl">Group messages</span>
		</a>
		<a class="card" href="/files">
			<span class="num">{{ counts.files }}</span>
			<span class="lbl">Files</span>
		</a>
	</div>
</section>
